<nav class='Breadcrumb'>
  <%= link_to @user, user_collections_path(@user), class: 'Breadcrumb__crumb' %>

  <% if authorable? %>
    <span class='Breadcrumb__crumb'>
      <%= render 'form' %>
    </span>
  <% end %>
</nav>

<div class='List'>
  <% @collections.each do |collection| %>
    <%= link_to user_collection_path(@user, collection), class: 'ListItem' do %>
      <div class='ListTitle'>
        <%= collection.title %>
        <span>
          <%= collection.connections.size == 0 ? 'empty' : "#{collection.connections.size} images" %>
        </span>
      </div>

      <div class='ListTimestamp'>
        <%= time_ago_in_words(collection.updated_at) %> ago
      </div>
    <% end %>
  <% end %>
</div>

<% content_for :footer do %>
  <%= paginate @collections %>
<% end %>
