<nav class='Breadcrumb'>
  <%= link_to @user, user_collections_path(@user), class: 'Breadcrumb__crumb' %>

  <% if authorable? %>
    <span class='Breadcrumb__crumb'>
      <%= render 'form' %>
    </span>
  <% end %>
</nav>

<div class='List'>
  <div class='ListItems'>
    <% @collections.each do |collection| %>
      <%= link_to user_collection_path(@user, collection), class: 'ListItem' do %>
        <div class='ListItem__title'>
          <%= collection.title %>
          <span class='ListItem__length'>
            <%= collection.connections.size == 0 ? 'empty' : collection.connections.size %>
          </span>
        </div>

        <div class='ListItem__timestamp'>
          <%= time_ago_in_words(collection.updated_at) %> ago
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :footer do %>
  <%= paginate @collections %>
<% end %>
