<nav class='breadcrumb'>
  <span class='breadcrumb-current'><%= @user %></span>
</nav>

<% if logged_in? %>
  <%= render 'form' %>
<% end %>

<div class='grid'>
  <% @collections.each do |collection| %>
    <%= link_to user_collection_path(@user, collection), class: 'grid-item' do %>
      <%= collection.title %> -
      <em><%= collection.connections.size == 0 ? 'Nothing yet' : collection.connections.size %></em>
    <% end %>
  <% end %>
</div>

<%= paginate @collections %>
