<div class='Users'>
  <% @users.each do |user| %>
    <div class='User'>
      <%= user.username %>
      (<%= user.email %>) joined
      <%= time_ago_in_words(user.created_at) %> ago.

      <div class='User__actions'>
        <%= link_to 'Show', user_collections_path(user), class: 'Button' %>
        <%= link_to 'Edit', edit_user_path(user), class: 'Button' %>

        <% unless user.admin? %>
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'Button Button--dangerous' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to 'Create an account', new_user_path, class: 'Button Button--block' %>
</div>
