<div class='Grid'>
  <% images.each do |image| %>
    <div class='InlineItem'>
      <%= link_to user_image_path(image.user, image) do %>
        <% image.resized(width: 225, height: 225).tap do |image| %>
          <img
            src='<%= image.size(1) %>'
            srcset='<%= image.size(1) %> 1x, <%= image.size(2) %> 2x'
            width='<%= image.width %>'
            height='<%= image.height %>'
            alt='<%= image.title %>'
          >
        <% end %>
      <% end %>

      <% if authorable? %>
        <%= link_to '&times;'.html_safe, [current_user, image], method: :delete, data: { confirm: 'Are you sure?' }, class: 'GridItemRemoveLink' %>
      <% end %>
    </div>
  <% end %>
</div>
