<%= content_for(:title) do %>
  <%= @collection %> /
<% end %>

<nav class='Breadcrumb'>
  <%= link_to @user, user_collections_path(@user), class: 'Breadcrumb__crumb' %>

  <span class='Breadcrumb__crumb'>
    <% if @collection %>
      <%= link_to @collection, [@user, @collection] %>
    <% else %>
      <%= link_to 'All images', user_images_path(@user) %>
    <% end %>
  </span>

  <% if authorable? %>
    <span class='Breadcrumb__crumb'>
      <%= render 'images/form' %>
    </span>
  <% end %>
</nav>

<%= render 'images/images', images: @images %>

<% content_for :footer do %>
  <%= paginate @images %>
<% end %>
