<%= content_for(:title) do %>
  <%= @collection %> /
<% end %>

<nav class='Breadcrumb'>
  <%= link_to @user, user_collections_path(@user) %>

  <span class='Breadcrumb__separator'></span>

  <span class='Breadcrumb__current'>
    <%= @collection || 'All images' %>
  </span>

  <% if authorable? %>
    <%= render 'images/form' %>
  <% end %>
</nav>

<%= render 'images/images', images: @images %>

<%= paginate @images %>
