<nav class='breadcrumb'>
  <%= link_to @user, user_collections_path(@user) %>
  <span class='breadcrumb-separator'></span>
  <span class='breadcrumb-current'><%= @collection || 'All images' %></span>
</nav>

<% if logged_in? %>
  <%= render 'images/form' %>
<% end %>

<%= render 'images/images', images: @images %>

<%= paginate @images %>
