<% if current_user %>
  <%= link_to 'Add', new_image_path, class: 'image-add-link' %>
<% end %>

<div class='images'>
  <%= content_tag_for :figure, @images do |image| %>
    <%= link_to image do %>
      <%= image_tag resize(url: image.url, width: 300, height: 300) %>
    <% end %>

    <% if current_user %>
      <%= link_to '&times;'.html_safe, image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'image-delete-link' %>
    <% end %>
  <% end %>
</div>
