<% if logged_in? %>
  <%= link_to 'Add', new_image_path, class: 'button is-block' %>
<% end %>

<%= paginate @images %>

<div class='images'>
  <%= content_tag_for :figure, @images do |image| %>
    <%= link_to image do %>
      <%= image_tag resize(url: image.url, width: 300, height: 300) %>
    <% end %>

    <% if logged_in? %>
      <%= link_to '&times;'.html_safe, image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'image-delete-link' %>
    <% end %>
  <% end %>
</div>

<%= paginate @images %>

<% if logged_in? %>
  <%= link_to "Logged in as #{current_user.username} — Logout", logout_path, class: 'button is-block' %>
<% else %>
  <%= link_to 'Login', login_path, class: 'button is-block' %>
<% end %>
