<%= content_for(:title) do %>
  <%= @collection %> /
<% end %>

<nav class='breadcrumb'>
  <%= link_to @user, user_collections_path(@user) %>
  <span class='breadcrumb__separator'></span>
  <span class='breadcrumb__current'>
    <%= @collection || 'All images' %>
  </span>
  <% if authorable? %>
    <%= render 'images/form' %>
  <% end %>
</nav>

<%= render 'images/images', images: @images %>

<div class='l-pagination'>
  <%= paginate @images %>
</div>
