<div class='Image'>
  <nav class='Breadcrumb'>
    <%= link_to @user, user_collections_path(@user), class: 'Breadcrumb__crumb' %>

    <span class='Breadcrumb__crumb'>
      <%= link_to "Full (#{@image.width}×#{@image.height})", @image.url %>
      <%= link_to 'Reverse Image Search', "https://www.google.com/searchbyimage?&image_url=#{@image.url}" %>
    </span>
  </nav>

  <div class='Image__image'>
    <%= link_to :back do %>
      <% @image.resized(width: 900, height: 900).tap do |image| %>
        <img
          src='<%= image.size(1) %>'
          srcset='<%= image.size(1) %> 1x, <%= image.size(2) %> 2x'
          width='<%= image.width %>'
          height='<%= image.height %>'
          alt='<%= image.title %>'
        >
      <% end %>
    <% end %>
  </div>
</div>
